@tailwind base;
@tailwind components;
@tailwind utilities;

/* Додаткові стилі */
ul {
    list-style: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #e5e7eb;
    margin-bottom: 0.5rem;
}
